body { font-family: 'Unna', serif; background-color: #fff; color: #333; }
h1 { color: #586e75; font-size: 2em; }
h2 { color: #657b83; }

a:link, a:visited { color: #b58900; text-decoration: none; }
a:hover { text-decoration: underline; }

.result:hover { background-color: ghostwhite; }
#query { border: 1px solid #ddd; padding: 3px; }
#searchButton { border: 1px solid #ddd; background-color: ghostwhite; }
pre { border: 1px solid #ddd; background-color: ghostwhite; padding: 5px; font-weight: bold; font-size: 1.1em; }
