<!DOCTYPE html>
<html>
  <head>
    <title>goodercode</title>
    <link rel="stylesheet" href="/resources/css/site.css" />
    <link href='http://fonts.googleapis.com/css?family=Unna' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/resources/css/layout.css" />
  </head>
  <body>
      <h1>gooder code</h1>
      <a href="http://github.com/webdevwilson"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
      <ul id="left-column">
          {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>
      <div id="content">{{ content }}</div>
      <div id="footer">&nbsp;</div>
  </body>
</html>
